.col-md-6
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .form-group
      %div
        = f.label :name
        %br/
        = f.text_field :name, autofocus: true, class: "form-control", placeholder: "Enter name"
    .form-group
      %div
        = f.label :username
        %br/
        = f.text_field :username, class: "form-control", placeholder: "Choose a username"
    .form-group
      %div
        = f.label :email
        %br/
        = f.email_field :email, class: "form-control", placeholder: "Enter email"
    .form-group
      %div
        = f.label :bio
        %br/
        = f.text_area :bio, class: "form-control", placeholder: "Write a bit about yourself..."
    .form-group
      %div
        = f.label :image, "Upload a file"
        %br/
        = f.file_field :image  
    / .form-group
    /   %div
    /     = f.label :remote_image_url, '...or add by URL'
    /     = f.url_field :remote_image_url, class: "form-control"

    .form-group
      %div
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"
    .form-group
      %div
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm password"
    %div
      = f.submit "Sign up", class: "btn btn-primary"
  = render "devise/shared/links"
