.row
  .col-md-6
    - if current_user.requested_friendships.any?
      .list_headings
        %h3 
          Friend requests
      - current_user.requested_friendships.each do |u|
        %h3
          = link_to u.name, "/users/#{u.id}"
        - invite = current_user.inverse_friendships.find_by(user_id: u.id)
        - i = invite.id
        = link_to "Accept", accept_invitation_friendship_path(i), method: :post, class: "btn btn-primary"
        = link_to "Decline", decline_invitation_friendship_path(i), method: :post, class: "btn btn-primary"
    - else
      .list_headings
        %h4
          You have no current friend requests.


  .col-md-6
    - if @pending_invitations.any?
      .list_headings
        %h3
          Event invites
      - @pending_invitations.each do |invitation|
        .panel.panel-default
          .panel-heading
            %h3 
              = link_to invitation.event.title, invitation.event
          .panel-body
            %p
              = invitation.event.description
            %p
              = invitation.event.date.strftime("%d/%m/%y")
        = link_to "Accept", accept_invitation_event_invitation_path(invitation.event.id, invitation.id), method: :post
        = link_to "Decline", decline_invitation_event_invitation_path(invitation.event.id, invitation.id), method: :post
    - else
      .list_headings
        %h4
          You have no current event invitations.