%h1 
  = current_user.name

%p
  = image_tag current_user.image.profile.url, :class => "userimage"

%h4
  = current_user.bio

= render partial: 'events/events'
= link_to 'Edit profile', edit_user_registration_path