.col-md-6.col-md-offset-3
  .profile
    %h2 
      = current_user.name

    %p
      = image_tag current_user.image.profile.url, :class => "userimage"  
    %h4
      = current_user.bio
    = link_to 'Edit profile', edit_user_registration_path
    %br
    = link_to 'New Event', new_event_path, class: "btn btn-primary"
    = link_to 'Check invites', invitations_path, class: "btn btn-primary"
.col-md-12
  = render partial: 'events/events'
