.profile
  %h1 
    = @user.name

  %p
    - if @user.image.profile.url
      = image_tag @user.image.profile.url, :class => "userimage"

  %h4
    = @user.bio

  / = link_to "Add friend", befriend_user_path(@user), method: :post, class: "btn btn-primary"

  / - if friends?
  /   = form_for ???, url: revoke_friendship_path do |f|
  /     = f.hidden_field :friendship
  /     = f.submit "Unfriend", class: "btn btn-primary"

  / -else
  = form_for @user.inverse_friendships.build, url: friendships_path do |f|
    = f.hidden_field :friend_id
    = f.submit "Befriend", class: "btn btn-primary"