%h1 
  = @user.name

%p
  = image_tag @user.image.profile.url, :class => "userimage"

%h4
  = @user.bio

/ = link_to "Add friend", befriend_user_path(@user), method: :post, class: "btn btn-primary"


= form_for @user.inverse_friendships.build, url: friendships_path do |f|
  = f.hidden_field :friend_id
  = f.submit "Befriend", class: "btn btn-primary"