.row
  .col-md-6 
    .list_headings
      %h3 Hosting
    .col-md-12
      - if @hosted_events.any?
        - @hosted_events.order('date ASC').each do |event|
          .panel.panel-default
            .panel-heading
              %h4  
                = link_to event.title, event
            .panel-body
              %p
                = event.address
              %p
                = event.date.strftime("%d/%m/%y")
      - else
        .list_headings
          %h4
            You're not currently hosting any events.

  

      / = link_to 'Edit', edit_event_path(event)
      / = link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

  .col-md-6
    .list_headings
      %h3 Going
    .col-md-12
      - @invited_events.each do |event|
        - unless current_user.said_yes? event
          .event_list        
            - @invited_events.each do |event|
              - unless current_user.said_yes? event
                .panel.panel-default
                  .panel-heading
                    %h4 
                      = link_to event.title, event
                  .panel-body
                    %p
                      = event.address
                    %p
                      = event.date.strftime("%d/%m/%y")

        .list_headings
          %h4
            You're not currently going to any events.
