.row
  .col-md-6 
    .list_headings
      %h3 Hosting
    .col-md-12
      - if @hosted_events.any?
        - @hosted_events.order('date ASC').each do |event|
          - unless Date.today > event.date + 2.days
            .panel.panel-default
              .panel-heading
                %h4  
                  = link_to event.title, event
                  - if event.cancelled == true
                    %span.red *CANCELLED*
              .panel-body
                %p
                  = event.address
                %p
                  = event.date.strftime("%d/%m/%y")
                - if event.cancelled == true
                  = link_to 'Delete', event, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-primary"
      - else
        .list_headings
          %h4
            You're not currently hosting any events
      = will_paginate @hosted_events, class: "digg_pagination"

  

      / = link_to 'Edit', edit_event_path(event)
      / = link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

  .col-md-6
    .list_headings
      %h3 Going
    .col-md-12
      .event_list  
        -if @invited_events.any?
          - @invited_events.each do |event|
            - unless current_user.said_yes? event
              - unless Date.today > event.date + 2.days
                .panel.panel-default
                  .panel-heading
                    %h4 
                      = link_to event.title, event
                      - if event.cancelled == true
                        %span.red *CANCELLED*

                  .panel-body
                    %p
                      = event.address
                    %p
                      = event.date.strftime("%d/%m/%y")
        - else
          .list_headings
            %h4
              You're not currently going to any events
        = will_paginate @invited_events, class: "digg_pagination"      

        


