= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    %div
    = f.label :title
    = f.text_field :title, autofocus: true, class: "form-control", placeholder: "Title"
  .form-group
    %div
    = f.label :description
    = f.text_area :description, class: "form-control", placeholder: "Description"
  .form-group
    %div
    = f.label :time
    = f.time_field :time, class: "form-control"
  .form-group
    %div
    = f.label :date
    = f.date_field :date, class: "form-control"
  .form-group
    %div
    = f.label :address
    = f.text_area :address, class: "form-control", placeholder: "Address"
  .form-group
    %div
    = f.label :postcode
    = f.text_field :postcode, class: "form-control", placeholder: "Postcode"
  %h4
    Invite:
  .form-group
    - User.all.each do |u|
      -if u != current_user
        = label_tag u.name.upcase
        = check_box_tag "event[invitations_attributes][][invitee_id]", u.id
        %br
        
  .actions
    = f.submit 'Save', class: "btn btn-primary"
