%h1 Events

%table
  %tr
    %th Title
    %th Description
    %th Address
    %th Date
    %th Host
    %th
    %th
    %th

  - @hosted_events.each do |event|
    %tr
      %td= event.title
      %td= event.description
      %td= event.address
      %td= event.date
      %td= event.host.username
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
