%p#notice= notice

= content_tag "div", nil, id: "lat", data: {latitude: @event.latitude}
= content_tag "div", nil, id: "lng", data: {longitude: @event.longitude}

.col-md-12
  %h2
    = @event.title
  .col-md-6
    #map_canvas

    = link_to 'Edit', edit_event_path(@event)
    \|
    = link_to 'Send invitations', new_event_invitation_path(@event)
    \|
    = link_to 'Back', events_path

    %button
      #current-position
        Update location

    / = button_to "Accept", invitations_path, method: :post
    / = button_to "Decline", invitations_path, method: :post

    %h3 Updates
    - @event.comments.order('created_at DESC').each do |comment|
      %p
        %h4= comment.user.username
        %h5= comment.body
        (#{time_ago_in_words(comment.created_at)} ago)
        - if comment.user == current_user
          = link_to 'Delete', [@event, comment], :method => :delete, :data => { :confirm => 'Are you sure?' }

    
    .form-group
      = form_for [@event, Comment.new] do |f|
        %p= f.text_area :body
        %p= f.submit "Post update", class: "btn btn-primary"

  .col-md-6
    
    %h3
      = @event.description

    %h4
      = @event.time.strftime("%H:%M")
    %h4 
      = @event.date.strftime("%d/%m/%y")
    %p
      %h4
        = [@event.address, @event.postcode].join(", ")

    %h3 Who?
    .invitee_list
      - @event.invitations.each do |invitation|
        %p
          / = invitation.invitee.image.profile.url, class: "small-avatar"
          = link_to invitation.invitee.name, "/users/#{invitation.invitee.id}"






