%p#notice= notice

= content_tag "div", nil, id: "lat", data: {latitude: @event.latitude}
= content_tag "div", nil, id: "lng", data: {longitude: @event.longitude}

.col-md-6
  #map_canvas

  %h2 Who?
  - @event.invitations.each do |invitation|
    %p
      = invitation.invitee.name

  %h2 Updates
  = form_for [@event, Comment.new] do |f|
    %p= f.text_area :body, :size => '40x10'
    %p= f.submit "Post update"


  - @event.comments.each do |comment|
    %p
      %b= comment.user.username
      = comment.body

.col-md-6
  %p
    %h2
      = @event.title
  %p
    %h3
      = @event.description
  %p
    %h4 
      = @event.date
  %p
    %h4
      = [@event.address, @event.postcode].join(", ")





= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Post update', new_event_comment_path(@event)
\|
= link_to 'Send invitations', new_event_invitation_path(@event)
\|
= link_to 'Back', events_path
