.col-md-6  
  %h2 Sign in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      %div
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter email"
    .form-group
      %div
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter password"
    - if devise_mapping.rememberable?
      %div
        = f.check_box :remember_me
        = f.label :remember_me
    %div= f.submit "Sign in", class: "btn btn-primary"
  = render "devise/shared/links"

.col-md-6
  %h1
    MeetApp
  %h3
    The app for meet-ups.
  %h4
    Less time chasing everyone else, more time enjoying yourself.