= form_for [@event, @event.updates.build] do |f|
  - if @update.errors.any?
    #error_explanation
      %h2= "#{pluralize(@update.errors.count, "error")} prohibited this update from being saved:"
      %ul
        - @update.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :body
    = f.text_area :body
  .actions
    = f.submit 'Save'
